<?xml version="1.0"?>
<connectionStrings>
	<!-- LOCAL -->
	<add name="HostingEntitiesIdentity" connectionString="Data Source=DESKTOP-1FVHCTL;Initial Catalog=Hosting;Integrated Security=True;" providerName="System.Data.SqlClient" />
	<add name="HostingEntities" connectionString="metadata=res://*/EF.DBContext.csdl|res://*/EF.DBContext.ssdl|res://*/EF.DBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1FVHCTL;initial catalog=Hosting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	
</connectionStrings>
